[Unit]
Description=Kanata key remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Type=simple
ExecStart=%h/.cargo/bin/kanata --config %h/.config/kanata/kanata.kbd
Restart=no

[Install]
WantedBy=default.target
